[flake8]
max-line-length = 100
exclude = __pycache__
# IGNORED:
# E203: space around ':'. Ignored for type annotations
# E128: continuation lines under indented for visual style
# ANN101: 'self' does not have a type hint
# ANN204: Missing return type for special method (like '__init__')
ignore = E203,E128,ANN101,ANN204
