# requirements for building and running mavlib_gen

# used to verify input message definition xmls follow the mavlink schema
xmlschema>=1.5.2
# used to ensure valid include trees from message definition xmls
networkx>=2.5
# used for mavlink crc calculation
crcmod>=1.7
# jinja is used for code generation
jinja2>=3.0.3
